*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: #08073f;
}

.container{
    margin: auto;
    display: flex;
    width: 500px;
    height: 400px;
    padding: 15px;
    justify-content:center; 
    align-items: center;

}

.calculator{
    border-radius: 10px;
    margin: auto;
    display: flex;
    width: 80%;
    height: 90%;
    background: #070718;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.botao{
    width: 35px;
    height: 35px;
    border-radius: 12px;
    margin: 4px;
    box-shadow: 1px 1px 1px black;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}

.btncor{
    background: rgba(60, 42, 223, 0.925);
}

#btnreset{
    background: rgb(0, 120, 189);
}

#result{
    background: rgb(46, 55, 94);
    border-radius: 5px;
    border: none;
    width: 78%;
    height: 40px;
    text-align: right;
    font-weight: bold;
    font-size: 1.5em;
    color: white;
    padding: 3px;
    /* margin: px; */
}

.btninf{
    width: 80%;
    display: flex;
    background: rgb(19, 37, 117);
    align-self: center;
    justify-content: center;
    padding: 8px;
    border-radius: 8px;
}

#btn1{
    width: 50%;
    display: flex;
    /* background: green; */
    flex-wrap: wrap;
    justify-content: center;

}
#btn2{
    width: 20%;
    display: flex;
    /* background: blue; */
    flex-wrap:wrap ;
    justify-content: center;
}
#btn3{
    width: 20%;
    display: flex;
    /* background: yellow; */
    flex-wrap:wrap ;
    justify-content: center;
}

.soma{
    height: 80px;
}

